<%- include('header.ejs', locals) %>

<h1>Who's Hiring?</h1>

<p>These companies are currently hiring for Node.js developers</p>

<dl class="hiring">
  <% companies.forEach(function (c) { %>
    <dt data-id="<%= c.id %>" class="hiring-logo"><a href="<%= c.url %>" style="background: url('/static/img/hiring/<%= c.id %>.png') no-repeat; background-size: 100px, 50px, contain; background-position-y: 50%;"><%= c.name %></a></dt>
    <dd data-id="<%= c.id %>"><%- c.description %></dd>
  <% }) %>
</dl>

<p>To add your company to this list, email <a href="mailto:whoshiring@npmjs.org">whoshiring@npmjs.org</a> for pricing options.</p>

<%- include('footer.ejs', locals) %>
